html,
body {
	margin: 0;
	font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	background: #fff;
}
body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Quicksand', sans-serif;
}
a{
	color:#313131;
}
a:hover {
	text-decoration: none;
	color:#00a591;
}
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Quicksand', sans-serif;
}
.booking_form {
	padding: 30px;
	margin-top: 40px;
	background: #dfdfdf;
	box-shadow: 0 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
}
p {
	margin: 0;
	font-size: 0.9em;
	color: #777777;
	line-height: 2em;
	letter-spacing: 1px;
}
.navbar-nav .dropdown-menu {
	margin-top: -9px;
	float: right;
	left: auto;
	right: 0;
}
.menu_serch form{
	display: block;
	padding:5px 15px;
}
.menu_serch .dropdown-menu{
	width: 350px;
}
ul {
	margin: 0;
	padding: 0;
}
.main_menu{}
.main_menu li{
	position: relative;
}
.main_menu li ul {
	position: absolute;
	top: 100%;
	display: block;
	padding: 0;
	list-style: none;
	margin: 0 !important;
	background: rgba(0, 165, 145, .8);
	color: #00A591;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}
.main_menu li:hover>ul{
	visibility: visible;
	opacity: 1;
}
.main_menu li ul li{
	display: block;
	margin:0;
	padding: 0;
}
.main_menu li ul li ul{
	left:100%;
	top:0;
}
.main_menu li ul li a {
	color: #fff;
	margin: 0;
	padding: 10px 15px;
	display: block;
	font-size: 17px;
	font-weight: 400;
	min-width: 170px;
}
.main_menu li ul li+li a{
	border-top: 1px solid #00A591;
}
.rs_page_main_title{
	padding: 0 0 70px 0 !important;
	margin:0 !important;
}
.rs_page_main_title .search_top{
	padding:0;
}
.rs_icon_box{
	display: block;
	color:#282828;
	display: block;
	text-decoration: none;
	margin:15px 0;
}
.rs_icon_box .gd-box-info{
	transition: all .5s;
}
.rs_icon_box:hover .gd-box-info{
	background: #FFB900;
}
.rs_icon_box:hover .gd-box-info *{
	color:#fff;
}
.card{
	margin-top:15px;
	margin-bottom:15px;
}
.image_gallery {
	display: block;
	padding: 0;
	list-style: none;
	margin: -15px;
	box-sizing: border-box;
	overflow: hidden;
}
.image_gallery .image_gallery_item{
	display: block;
	float: left;
	margin:0;
	padding:15px;
	width:33.33%;
}
.image_gallery .image_gallery_item a {
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	
	padding: 5px;
	display: block;
	text-decoration: none;
	color: #999;
	transition: all .5s;
}
.image_gallery .image_gallery_item:hover a {
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.image_gallery .image_gallery_item h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-top: 7px;
	text-align: center;
}
.image_gallery .image_gallery_item img {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	border-radius: 0;
}
.card h5.card-title{
	margin-bottom: 5px;
}
.card .card-text{
	margin-top: 0px;
}
.nearby_place {
	display: block;
	padding: 20px 30px;
	box-sizing: border-box;
	background: #f5f5f5;
	margin: 0;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
	margin-top: 70px;
	position: relative;
}
.nearby_place .search_top {
	padding-bottom: 40px;
}
.nearby_place .rs_list li p {
	line-height: 24px;
	margin-top: 10px;
	color:#17a2b8;
}
.hotel_loop_item{
	display: block;
	text-decoration: none;
}
.hotel_loop_item .property-box {
	margin-top: 15px;
}
.hotel_loop_item .property-box li{
	display: block;
	float: none;
}
.hotel_loop_item .property-box li+li{
	margin-top:5px;
}
.hotel_loop_item .property-box li span{
	color:#00a591;
}
.hotel_loop_item .label-inner span.status {
	background: #ffc107;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}
.rs_sidebar_box .card-body {
	padding: 2px;
}
.rs_sidebar_box .card h5.card-title {
	margin-bottom: 2px;
	margin-top: 4px !important;
	padding: 5px !important;
	display: block;
}
.rs_sidebar_box  .card {
	margin-top: 0;
	margin-bottom: 0;
}
.rs_sidebar_box .row {
	margin-right: -5px;
	margin-left: -5px;
}
.rs_sidebar_box .rs_col {
	padding: 5px;
	margin: 0;
}
.rs_list {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
.rs_list li{
	margin:0;
	padding:0;
	display: block;
}
.rs_list li + li {
	margin-top: 10px;
	padding-top: 9px;
	border-top: 1px solid #eaeaeaea;
}
.rs_list li h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #000;
	overflow: hidden;
}
.rs_list li strong{
	display: block;
	font-size: 14px;
	color:#ffb900;
}
.rs_list li h2 strong{
	float: right;
	margin-left: 10px;
}
.rs_list li p{
	font-size:13px;
	line-height: 18px;
	margin:0;
	padding:0;
}
.rs_members h6 {
	line-height: 22px;
}
.rs_members h6 span {
	color: #ffb900;
	margin-right: 0;
	display: inline-block;
	min-width: 112px;
}
.google_map{
	margin:30px 0;
	padding: 0;
	display: block;
}
.google_map iframe{
	width:100%;
	height: 50vh;
}
.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 50px;
	background: rgba(0,0,0,.2);
	z-index: 100000;
	color: #fff;
}
.loader i {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 50%;
	margin-left: -20px;
}
.loading .loader{
	display: block;
}
/* Admin  */
.remove_package {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
}
.package_row {
	display: block;
	margin: 25px 0;
}
.single_package {
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 9px rgba(0,0,0,.5);
	background: #F2FAFA;
	margin: 20px 0;
	position: relative;
}
#create_package {
	margin: 20px 0;
}
.sidebar_menu{}
.sidebar_menu > ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar_menu > ul > li {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1000;
	width: 120px;
}
.sidebar_menu > ul > li a {
	display: block;
	color: #fff;
	background: #555;
	padding: 18px 5px;
	cursor: pointer;
	text-align: center;
	max-width: 100%;
	transition: all .2s;
}
.sidebar_menu > ul > li a span {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}
.sidebar_menu > ul > li a i {
	font-size: 42px;
}
.sidebar_menu > ul > li.active>a,
.sidebar_menu > ul > li:hover>a{
	background: #00a591;
}
.sidebar_menu > ul ul {
	position: absolute;
	background: #00A591;
	display: none;
	left: 100%;
	width: auto;
	top: 0;
	list-style: none;
}
.sidebar_menu > ul li:hover ul{
	display: block;
}
.sidebar_menu > ul ul li {
	width: auto;
	display: block;
	margin: 0;
	padding: 0;
}
.sidebar_menu > ul ul li a {
	display: block;
	width: auto;
	margin: 0;
	padding: 14px 20px;
	font-size: 15px;
	font-weight: 400;
	min-width: 150px;
	text-align: left;
}
.sidebar_menu > ul ul li a:hover{
	background:#00a591;
}
.nearby_tour_place_section {
	display: block;
	margin: 30px 0;
}
.fare_nearby_tp{}
.fare_nearby_tp h3{}
.popular_foods_section,
.fare_nearby_tp .single_ntp_group {
	margin: 15px 0;
	background: #eeeeee;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.fare_nearby_tp .single_ntp_group h6 {
	margin-bottom: 10px;
	display: block;
}
.fare_nearby_tp .single_ntp_group h6 span{
	display: inline-block;
	padding:0 5px;
	color:#fff;
	background: #17a2b8;
}
#popular_foods_bank .row,
.fare_nearby_tp .single_ntp_group .row{
	margin-top:10px;
	margin-bottom:10px;
}
/*--/header --*/
.banner-rs {
	background: url(../images/banner1.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 0 !important;
	background-attachment: fixed;
}
/* navbar */
.bg-light {
	background-color: transparent !important;
}
.dropdown-item {
	font-size: 0.875em;
	color: #666d73;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
	font-size: 1em;
	letter-spacing: 2px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #ffffff;
	font-size: 35px;
	letter-spacing: 1px;
	font-weight: 700;
}
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
	color: #ffb900;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #ffb900;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.dropdown-toggle::after {
	margin-left: 0;
	border: none;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: #ffffff;
}
.navbar {
	padding: 1.5em 3em;
}
/* navbar */
.serve-grid i {
	font-size: 2em;
	color: #00a591;
}
.serve-grid h4 {
	color: #212020;
	font-size: 20px;
	letter-spacing: 2px;
}
.serve-grid p {
	color: #7d7d7d;
	font-size: 15px;
	line-height: 1.9;
}
/*--banner-rs-info--*/
/*-- /search --*/
.banner-rs-info {
	margin-top: 11em;
}
#search_form form {
	margin: 2em auto 0;
	width: 57%;
}
.banf {
	padding-left: 5px;
	padding-right: 5px;
}
#search_form h3 {
	color: #fff;
	font-size: 2.5em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	letter-spacing: 1px;
	font-weight: 600;
}
.banner-rs-info p {
	color: #fff;
	letter-spacing: 9px;
	margin-top: 10px;
}
.search_top {
	padding-bottom: 200px;
}
.search_top input[type="text"],
.search_top input[type="submit"] {
	color: #777;
	background: #fff;
	outline: none;
	font-size: 0.91em;
	padding: 1em 1em;
	border: none;
	-webkit-appearance: none;
	display: inline-block;
	letter-spacing: 1px;
}
.search_top select#country12,.search_top select#country13 {
	font-weight: normal;
	border: none;
	outline: none;
	color: #777;
	background: #fff;
	outline: none;
	font-size: 0.91em;
	padding: 1em 1em;
	border: none;
	letter-spacing: 1px;
	margin-right: 2px;
	height: 50px;
}
.search_top input[type="submit"] {
	background: #ffb900;
	color: #fff;
	font-weight: 700;
	font-size: 1.2em;
	padding: 0.58em 1em;
	width: 100%;
	cursor: pointer;
}
.search_top input[type="submit"]:hover {
	background: #121312;
}
/*-- //search --*/
/* -- banner-rs-bottom --*/
h3.tittle {
	font-size: 2.5em;
	color: #393a3a;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
	font-weight: 400;
}
h3.tittle.ser {
	font-size: 2em;
	width: 70%;
}
.gd-box-info {
	background: #f7f7f7;
}
.gd-box-info h4 {
	font-size: 1.3em;
	margin: 0.2em 0;
}
.gd-box-info i {
	font-size: 2em;
	margin: 0.2em 0;
	color: #ffb900;
}
/* -- //banner-rs-bottom --*/
/* -- about --*/
.about-info {
	background-color: #f5f7f7;
	padding: 6%;
}
/* Gibson Buttons */
a.animated-button:link,
a.animated-button:visited {
	position: relative;
	padding: 12px 35px;
	color: #777;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	z-index: 9;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after,
a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
	color: #333;
	text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button.gibson-three {
	border: 2px solid #00a591;
	color: #333;
}
a.animated-button.gibson-three:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(101, 179, 122, 0.2) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
a.animated-button.gibson-three:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #00a591;
}
/* -- /about --*/
/*--/tabs --*/
ul#pills-tab {
	margin-left: 1em;
}
.nav-pills .nav-link {
	padding: 0.5em 1.5em;
	letter-spacing: 1px;
	color: #383737;
	background: #e5e8e8;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background: #00a591;
}
.tech-btm h5 {
	font-size: 0.9em;
	line-height: 1.4em;
	font-weight: 500;
}
.menu-img-info h5 {
	font-size: 1.8em;
	color: #7b7d80;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	line-height: 1.4em;
}
p.sub-meta {
	color: #1cbbb4;
	font-size: 1.2em;
	font-weight: 600;
}
.text-info-sec p {
	color: #8c9398;
}
.text-info-sec h5 {
	font-size: 1.1em;
	color: #313131;
	text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
	font-weight: 500;
}
.text-info-sec i {
	color: #00a591;
}
h5.card-title span {
		color: #ffc107;
		font-size: 0.9em;
		font-weight: 500;
}
ul.property-box li {
	list-style: none;
	display: inline;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: #888;
}
.text-info-sec p.card-text {
	margin: 8px 0;
}
ul.property-box {
	border-top: 1px solid #ddd;
	padding: 1em 0;
}
.text-info-sec .card-body {
	position: relative;
}
.label-inner {
	position: absolute;
	top: 8%;
	right: 8%;
}
.label-inner span.status {
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	font-size: 9px;
	padding: 4px 8px;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 15px;
	vertical-align: top;
	background: #101215;
	font-weight: 500;
	letter-spacing: 1px;
}
section#plats {
	background-color: #f5f7f7;
}
/*--//tabs--*/
/*-- stats --*/
.stats_info p {
	font-size: 50px;
	letter-spacing: 1px;
	color: #000000;
	line-height: 2;
}
.stats_info h4 {
    font-size: 16px;
	color: #efefef;
	margin: 0;
	letter-spacing: 1px;
}
.stats_info i {
	font-size: 3em;
	color: #eee;
	margin: 0;
}
.stats_bottom_grid_left img {
	margin: 0 auto;
}
.stats_info.counter_grid {
	background: #00bce4;
}
.stats_info.counter_grid1 {
	background: #7d3f98;
}
.stats_info.counter_grid2 {
	background: #f47721;
}
.stats_info.counter_grid3 {
	background: #d20962;
}
.stats_info {
	text-align: center;
	padding: 0;
	border-top: none;
	border-bottom: none;
}
.stats_info:nth-child(3) {
	border-right: 0px;
}
.stats_info:nth-child(2) {
	border-left: 0px;
	border-right: 0px;
}
/*-- //stats --*/
p.card-text {
	margin: 20px 0 0;
	font-size: 14px;
	line-height: 2;
}
a.btn.more {
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	color: red;
}
.modal-body p {
	color: #212121;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 2;
}
/* ---- */
/*--team-- */
.team-grid {
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;
}
.team-img {
	position: relative;
}
.team-img:after {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	content: " ";
	position: absolute;
	background: rgba(0, 0, 0, 0);
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-img img {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.team-info {
	left: auto;
	bottom: 0;
	width: 100%;
	padding: 0 20px;
	position: absolute;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0, 10%, 0);
	transform: translate3d(0, 10%, 0);
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.team-info h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 0 0 10px;
	color: #fff;
}
.team-info span {
	display: block;
	font-size: 0.9em;
	color: #fff;
	letter-spacing: 2px;
}
.team-grid:hover .team-img:after {
	background: #00a591;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-grid:hover .team-info {
	-webkit-transform: translate3d(0, -5%, 0);
	transform: translate3d(0, -5%, 0);
	-webkit-transform: translate3d(0, -10%, 0);
	transform: translate3d(0, -10%, 0);
}
.team-grid:hover .team-info {
	opacity: 1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
ul.social-icons li {
	list-style-type: none;
}
ul.social-icons li a i {
	color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	border: 1px solid #eee;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
}
ul.social-icons li a i.fab.fa-facebook-f:hover {
	background: #3b5998;
	border: 1px solid #3b5998;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
ul.social-icons li a i.fab.fa-twitter:hover {
	background: #1da1f2;
	border: 1px solid #1da1f2;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
ul.social-icons li a i.fab.fa-google-plus-g:hover {
	background: #dd4b39;
	border: 1px solid #dd4b39;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
/*--// team --*/
section.middle {
	background: url(../images/contact.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}
h3.tittle.cen {
	color: #fff;
}
.middle .serve-grid i {
	color: #ffb900;
	font-size: 3em;
}
.middle .serve-grid p {
	color: #eee;
}
.middle .serve-grid h4 {
	color: #00a591;
}
.testimonials_grid {
	text-align: center;
	position: relative;
}
.testimonials_grid img {
	margin: 0 auto;
}
.social_list1 li {
	display: inline-block !important;
}
.test_social_pos li a {
	color: #fff;
	font-size: 0.9em;
	width: 30px;
	height: 30px;
	display: block;
	line-height: 29px;
}
.facebook1 {
	background: #3b5998;
}
.twitter2 {
	background: #1da1f2;
}
.dribble3 {
	background: #ea4c89;
}
.test_social_pos li a:hover{
  opacity:0.7;
}
.testimonials_grid {
	text-align: center;
}
.testimonials_grid h3 {
	margin: 1em 0 0.5em 0;
	color: #333;
	font-size: 1.2em;
}
.testimonials_grid h3 span {
	font-weight: 100;
	font-size: 0.9em;
}
.testimonials_grid label {
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #00a591;
}
.testimonials_grid p {
	width: 70%;
	margin: 1em auto 0;
	line-height: 2em;
	letter-spacing: 1px;
}
.testimonials_grid img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border: 5px solid hsla(210, 7%, 6%, 0.13);
	margin-bottom: 1em;
}
.testimonials_grid {
	margin: 0 auto;
	width: 85%;
}
/*-- //testimonials --*/
/*--/inner-content--*/
.banner-rs.two {
    background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed;
}
.banner-rs-info.two {
    margin-top: 3em;
}
.breadcrumb {
    list-style: none;
    background: none;
	border-radius:0;
	margin:0;
}
li.breadcrumb-item {
	color:#fff;
    font-size:0.9em;
    letter-spacing: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-weight: 500;
}
.breadcrumb-item.active {
    color: #ffb900;
}
li.breadcrumb-item a{
	color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #ffffff;
    content: "/";
}
/*--/Pricing--*/.price-header
.pricing-card-title span {
	font-size: .5em;
	display: inline-block;
	color: #000;
}
.price-header h4 {
    color: #f7f7f7;
    font-size: 1.6em;
    font-weight: 500;
}
.price-header {
    background: #00a591;
    padding: 2em 0;
}
.price-body {
    padding: 1.25rem;
}
.text-muted {
    color: #6c757d !important;
    font-size: 0.5em;
}
.news-gd small.text-muted {
    font-size: 0.85em;
    font-weight: 500;
}
ul.list-unstyled li {
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #7d7d7d;
}
.pricing-section h5.card-title {
	font-size: 2em;
	color: #000;
	font-weight:500;
}
.price-inner {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.btn-outline-primary {
    color: #fff;
    background-color: #0e0f10;
    background-image: none;
    border-color: #0e0f10;
    font-size: 16px;
    letter-spacing: 1px;
}
.card.box-shadow:hover .btn-outline-primary {
    color: #fff;
    background-color: #00a591;
    border-color: #00a591;
}
.card-deck .card{
	padding: 0px;
}
h5.pricing-title {
    font-size: 2em;
    color: #000;
    font-weight:500;
}
/*--//Pricing--*/
.img_bg_thumbnail {
	width: 100%;
	display: block;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.nearby_tour_places .img_bg_thumbnail,
.rs_sidebar_box .img_bg_thumbnail {
	height: 90px;
}
/*-- /team--*/
.customer-info h4 {
    font-size: 1.4em;
    color: #4e5052;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    line-height: 1.4em;
}
.customer-info h5 {
	font-size: 1.1em;
	color: #676b6f;
	margin-top: 0.3em;
}
.customer-info h6 {
    font-size: 1em;
    margin: 1em 0;
    color: #00a591;
}
.customer-info ul.social-icons li a i{
	color: #202223;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
	border: 1px solid #202223;
	text-align:center;
}
/*-- //team--*/
/*-- /error --*/
.error {
    margin-bottom: 1em;
}
.error-404 h4 {
	font-size: 12em;
	font-weight:500;
	color: #333;
	margin: 0;
	padding: 0;
}
a.b-home {
	background: #202020;
	padding: 0.7em 1.5em;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin-top: 1em;
	font-size: 0.9em;
}
a.b-home:hover {
    background: #00a591;
}
.error-404 p {
	color: #929090;
	font-size: 1em;
	letter-spacing: 8px;
	margin: 0em 0 2em 0;
}
.error.social-icons {
	margin-bottom: 1em;
}
.error.social-icons a {
	color: #4e4e4e;
}
.error.social-icons a:hover {
	color: #ff3c41;
}
.error-404 {
	text-align: center;
}
.error-404 form {
	margin: 0 auto 2em;
	width: 40%;
	text-align: center;
}
.error-404 .copyrighttop a.facebook {
    color: #aaacaf;
    font-size: 15px;
}
.error-404 form input[type="search"] {
	outline: none;
	border: 1px solid #c4c5c5;
	background: none;
	color: #212121;
	padding: 14px 15px;
	width: 80%;
	float: left;
	font-size: 12px;
	letter-spacing: 5px;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
}
.error-404 button.btn1 {
	color: #fff;
	border: none;
	padding: 12px 0;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background: #ffb900;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	float: right;
	width: 20%;
	-webkit-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
}
.error-404 button.btn1:hover {
	background: #00a591;
}
.error ul li {
	list-style: none;
	display: inline-block;
}
.error ul li a {
    margin: 0 5px;
    font-size: 0.9em;
    color: #000;
    background: none;
}
@media(max-width:640px) {
	.error-404 h4 {
		font-size: 9em;
	}
	.error-404 form {
		width: 72%;
	}
}
@media(max-width:600px) {
	.error-404 h4 {
		font-size: 6em;
	}
	a.b-home {
		padding: 0.6em 1em;
		margin-top: 1em;
	}
}
@media(max-width:480px) {
	.error-404 h4 {
		font-size: 5em;
	}
	.error-404 p {
		font-size: 0.8em;
		letter-spacing: 5px;
		margin: 1em 0;
	}
}
/*-- //error --*/
/*--//inner-content--*/
/*--//inner-content--*/
/*--footer--*/
.footer-sec-w3-agileits {
	background-color: #0e0f10;
}
.footer-cpy .navbar-brand {
    color: #00a591;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
.footer-cpy {
	background: #121315;
}
.blog-grid-right h5 {
	font-size: 1em;
	line-height: 1.5em;
}
.blog-grid-right h5 a {
	color: #777777;
	font-size: 0.9em;
}
h6.price {
	color: #00a591;
}
.blog-grid-right span {
	color: #e6e2e2;
	letter-spacing: 1px;
	font-size: 0.9em;
}
address.ad-info {
	color: #6b6c6d;
	font-family: 'Quicksand', sans-serif;
}
address.ad-info strong {
	color: #00a591;
	line-height: 2.5em;
}
/*-- subscribe --*/
.subscribe-main {
	padding-bottom: 1em;
}
.footer-grid-wthree img {
	width: 100%;
}
.subscribe-head h4.sec-title {
	margin-bottom: 4px;
	letter-spacing: 3.8px;
	font-weight: 600;
}
.subscribe-head h6 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 600;
	color: #1853a1;
	letter-spacing: 4px;
}
.subscribe-form {
	margin: 1em auto 0;
	padding: 10px;
}
.footer-grid-wthree h2,
.footer-grid-wthree h3 {
	font-size: 1.4em;
	color: #ffffff;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 1em
}
.subscribe-main p {
	color: #777;
	letter-spacing: 1px;
}
.subscribe-main input[type="email"] {
	width: 100%;
	padding: 0.8em 1em;
	font-size: 16px;
	color: #fff;
	outline: none;
	background: rgba(241, 245, 249, 0.08);
	-webkit-appearance: none;
	border: none;
	-webkit-appearance: none;
	letter-spacing: 1px;
}
.subscribe-main button[type="submit"] {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 2px;
	padding: 0.9em 3em;
	border: none;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-webkit-appearance: none;
	background: #00a591;
	margin-top: 1.5em;
}
.subscribe-main button[type="submit"]:hover {
	color: #fff;
	background:#ffb900;
}
.instagram-posts {
	margin: 0 auto;
	width: 90%;
}
.copyrighttop ul li a span {
	color: #646567;
	font-weight: 500;
	font-size: 0.9em;
	line-height: 2em;
	letter-spacing: 1px;
}
/*-- //subscribe --*/
/*--/copyright--*/
.copyrighttop a.facebook {
	color: #fff;
	font-size: 16px;
}
.copyrighttop a.facebook:hover {
	color: #16b9a0;
	background:none;
}
.copyright {
	background: #141415;
	color: #fff;
	padding: 1em 0;
	border-top: 1px solid rgba(25, 24, 24, 0.58);
}
.copyrightbottom p {
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 28px;
}
.copyrighttop li {
	list-style: none;
	display: inline-block;
}
.copyrightbottom p a {
	color: #929498;
}
.copyrightbottom p a:hover{
    color: #ffb900;
}
/*--//footer--*/
#toTop {
	display: none;
	text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 34px;
    height: 34px;
    border: none;
    text-indent: 100%;
    background: url(../images/upload.png) no-repeat 0px 0px;
    font-size: 0;
}
/*--// copyright-- */
/*--responsive--*/
@media(max-width:1366px){
	.banner-rs {
		min-height: 650px;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 76%;
	}
}
@media(max-width:1280px){
	.navbar {
		padding: 1.5em 2em;
	}
	.banner-rs.two {
		min-height: 300px;
	}
	.address-info {
		padding: 3em 0;
	}
	.gd-box-info h4 {
		font-size: 1.2em;
	}
	.about-info {
		padding: 5%;
	}
}
@media(max-width:1080px){
	.about-info {
		padding:2%;
	}
}
@media(max-width:1050px){
	.error-404 form {
		margin: 0 auto 2em;
		width: 50%;
		text-align: center;
	}
	h3.tittle.ser {
		font-size: 2em;
		width: 80%;
	}
	a.animated-button:link, a.animated-button:visited {
		padding: 8px 20px;
	}
	h3.tittle {
		font-size: 2.3em;
	}
}
@media(max-width:1024px){
	.banner-rs {
		min-height: 610px;
	}
	.banner-rs-info {
		margin-top: 9em;
	}
}
@media(max-width:991px){
	.menu-grids img {
		width: 100%;
	}
	h3.tittle {
		font-size: 2.3em;
	}
	.team-img:after {
		width: 100%;
		height: 70%;
	}
	.about-info {
		padding: 4% 2%;
	}
	.inner-sec-agileits-w3ls {
		padding: 2em 0;
	}
	h3.tittle.ser {
		font-size: 2em;
		width: 100%;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 0.4em 1.4em;
		font-size: 0.9em;
		text-align: center;
	}
	li.nav-item {
		margin: 6px 0px 0 0;
	}
	.dropdown-item {
		text-align: center;
	}
	.active>.nav-link,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link:hover {
		color: #ffb900;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 0.7em 1.4em;
		font-size: 0.9em;
		text-align: center;
		color: #555;
	}
	.navbar-light .navbar-nav .nav-link, .dropdown-item {
		color: #777;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
	}
	.cd-header-buttons {
		top: 20px;
		right: 60px;
	}
	.navbar-light .navbar-toggler {
		color: #fff;
		border-color: #fff;
	}
	.navbar-light .navbar-toggler-icon {
		background-image: none;
	}
	span.navbar-toggler-icon i {
		line-height: 1.2em;
		font-size: 1.2em;
	}	
	.navbar-toggler {
		padding: 0.3rem 0.6rem;
		font-size: 1.25rem;
		border: 1px solid transparent;
		border-radius: 0;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
		position: absolute;
		width: 93%;
		z-index: 99;
		top: 100%;
	}
	.text-info-sec {
		margin-bottom: 1em;
	}
	.t-in {
		margin-top: 0!important;
	}
	ul#pills-tab {
		margin-top:0!important;
		margin-left:0em;
	}
	.price-info-grid,.customer-main {
		float: left;
		width: 49%;
		margin: 0!important;
		margin-top: 1em!important;
	}
	.error-404 form {
		margin: 0 auto 2em;
		width: 70%;
		text-align: center;
	}
	.address {
		margin-top: 2em!important;
	}
	.copyrightbottom {
		text-align: center!important;
	}
	.copyrighttop {
		text-align: center!important;
	}
	.banner-rs.two {
		min-height: 266px;
	}
	.subscribe-main {
		padding-bottom: 1em;
		margin-top: 2em;
	}
    .news-gd:nth-child(2) {
		margin: 1em 0;
	}
	.blog-grid-right {
		margin-top: 1em;
	}
}
@media(max-width:900px){
	.banner-rs {
		min-height: 570px;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 90%;
	}
	
	#search_form h3 {
		font-size: 2.3em;
	}	
	.banner-rs-info {
		margin-top: 8em;
	}
	.banner-rs-info.two {
		margin-top: 2em;
	}
	.price-header h4 {
		font-size: 1.4em;
		font-weight: 500;
	}
	.error-404 h4 {
		font-size: 9em;
	}
}
@media(max-width:800px){
	.navbar {
		padding: 1.2em 1.2em;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
		position: absolute;
		width: 95%;
		z-index: 99;
		top: 100%;
	}
	.banner-rs-info {
		margin-top:7em;
	}
	.banner-rs {
		min-height: 515px;
	}
	.inner-sec-agileits-w3ls {
		padding: 1em 0;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 96%;
	}
	.stats_info p {
		font-size: 40px
	}
	.stats_info i {
		font-size: 2em;
	}
	.stats_info h4 {
		font-size: 15px;
	}
}
@media(max-width:768px){
	.banner-rs.two {
		min-height: 243px;
	}
	.team-img:after {
		width: 100%;
		height: 100%;
	}
	.testimonials_grid p {
		width: 100%;
	}
	
}
@media(max-width:767px){
	.banner-rs-info {
		margin-top: 2em;
	}
	#search_form form {
		margin: 1em auto 0;
		width: 96%;
	}
	.search_top input[type="text"],.search_top select#country12, .search_top select#country13 {
		margin-bottom:0.5em;
	}
	.serve-grid:nth-child(3) {
		margin-top: 2em;
	}
	.team-info span {
		display: block;
		font-size: 0.8em;
		letter-spacing: 1px;
	}
	.middle .serve-grid h4 {
		color: #00a591;
		font-size: 19px;
		letter-spacing: 1px;
		margin: 1em 0;
	}
	.social-icons{
		margin-top:1em;
	}
	.team-info {
		padding: 0 2px;
	}
}
@media(max-width:736px){
	.error-404 form {
		margin: 0 auto 2em;
		width: 90%;
		text-align: center;
	}
	.error-404 p {
		font-size: 0.9em;
		letter-spacing: 5px;
		margin: 0em 0 2em 0;
	}
	.news-gd:nth-child(2) {
		margin-top: 1em;
	}
}
@media(max-width:667px){
	#navbarSupportedContent {
		padding: 0.5em 0;
		width: 94%;
	}
	.banner-rs.two {
		min-height: 220px;
	}
	.banner-rs-info.two {
		margin-top: 1em;
	}
	#search_form h3 {
		font-size:1.9em;
	}
	h3.tittle {
		font-size: 2.2em;
	}
	.error-404 h4 {
		font-size: 8em;
	}
	
}
@media(max-width:640px){
	.portfolio-area li {
		float: left;
		list-style-type: none;
		overflow: hidden;
		width: 255px;
		margin: 10px;
	}
}
@media(max-width:600px){
	.portfolio-area li {
		float: left;
		list-style-type: none;
		overflow: hidden;
		max-width: 237px;
		margin: 10px;
	}
	#navbarSupportedContent {
		padding: 0.5em 0;
		width: 93%;
	}
	.tabs {
		margin: 0 auto;
		width: 93%;
	}
	
}
@media(max-width:568px){
	.team-img:after {
		width: 100%;
		height:50%;
	}
	.team-img img {
		width: 100%;
	}
	.price-info-grid, .customer-main {
		float: left;
		width: 100%;
		margin: 0!important;
		margin-top: 1em!important;
	}
	.tabs {
		margin: 0 auto;
		width: 90%;
	}
	h3.tittle {
		font-size: 2em;
	}
	h3.tittle.ser {
		font-size: 1.6em;
		width: 100%;
	}
	i.fas.fa-male {
		margin-top: 1em;
	}
	.testimonials_grid h3 {
		margin: 0.5em 0 0.5em 0;
	}
	.testimonials_grid p {
		width: 100%;
		margin: 0 auto;
	}
}
@media(max-width:480px){
	.portfolio-categ li a {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.portfolio-categ li {
		display: inline-block;
		padding: 6px 10px;
	}
	.portfolio-area li {
		float: left;
		list-style-type: none;
		overflow: hidden;
		max-width: 190px;
		margin: 10px;
	}
	.banner-rs-info p {
		letter-spacing: 6px;
		margin-top: 0;
	}
	
	.banner-rs.two {
		min-height: 205px;
	}
	.banner-rs-info.two {
		margin-top: 0.5em;
	}
	#navbarSupportedContent {
		padding: 0.5em 0;
		width: 92%;
	}
	.banner-rs {
		min-height: 480px;
	}
	.about-info {
		padding: 7% 4%;
	}
	.nav-pills .nav-link {
		padding: 0.5em 1em
	}
	.copyrighttop li {
		margin: 0 2px!important;
	}
}
@media(max-width:414px){
	#search_form h3 {
		font-size: 1.8em;
	}
	.banner-rs-info {
		margin-top: 1em;
	}
	.banner-rs {
		min-height: 458px;
	}
	.copyrighttop li {
		margin: 0 1px!important;
	}
	.copyrighttop ul li a span {
		font-size: 0.8em;
		line-height: 2em;
		letter-spacing: 1px;
	}
	.subscribe-form {
		margin: 1em auto 0;
		padding: 10px 0;
	}
	.banner-rs-info p {
		letter-spacing: 4px;
	}
}
@media(max-width:384px){
	.navbar-light .navbar-brand {
		font-size: 32px;
	}
	.nav-pills .nav-link {
		padding: 0.5em 0.6em;
		font-size: 0.9em;
	}
	.error-404 h4 {
		font-size: 6em;
	}
}
@media(max-width:375px){
	.search_top select#country12, .search_top select#country13 {
		font-size: 0.9em;
		padding: 0.5em 0.8em;
		height: 46px;
	}
	.search_top input[type="text"], .search_top input[type="submit"] {
		font-size: 0.91em;
		padding: 0.8em 0.8em;
	}
	.search_top input[type="submit"] {
		font-size: 1.1em;
		padding: 0.58em 1em;
	}
	.banner-rs {
		min-height: 420px;
	}
	#navbarSupportedContent {
		padding: 0.5em 0;
		width: 90%;
	}
	h3.tittle.ser {
		font-size: 1.5em;
		width: 100%;
	}
	p {
		margin: 0;
		font-size: 0.85em;
	}
	.portfolio-area li {
		float: left;
		list-style-type: none;
		overflow: hidden;
		max-width: 238px;
		margin: 10px;
	}
	.portfolio-categ li {
		display: inline-block;
		padding: 6px 10px;
		margin-bottom: 0.3em;
	}
}
@media(max-width:360px){
	.banner-rs-info {
		margin-top: 0em;
	}
	#search_form h3 {
		font-size: 1.5em;
	}
	#search_form form {
		margin: 0.7em auto 0;
		width: 96%;
	}
	.banner-rs {
		min-height: 390px;
	}
	.navbar {
		padding: 0.5em 1em 1.5em 1em;
	}
}
@media(max-width:320px){
	.banner-rs-info {
		margin-top: 0em;
	}
	#search_form h3 {
		font-size: 1.5em;
	}
	#search_form form {
		margin: 0.7em auto 0;
		width: 96%;
	}
}